body{
    font-family: 'Source Sans Pro', sans-serif;
    height: 100vh;
    /* max-width: 600px; */
}
.first{
    display: flex;
}
.logo{
    width: 127px;
}
.my-avartar{
    height: 60px;
width: 60px;
border-radius: 50%;
}
header{
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid rgba(198, 198, 198, 1);
    margin-bottom: 11px;
}

#avartar-two, #avartar-three, #avartar-four{
 height: 34px;
 width: 34px;
 border-radius: 50%;
}
#section, #section-two, #section-three{
    font-size: 13px;
}
#country-two{
    font-size: 12px; 
     margin-left: -132px;
     margin-top: 10px;
}
#country-three{
    font-size: 12px; 
    margin-left: -130px;
    margin-top: 10px;   
}
#post-one, #post-two, #post-three{
    height: 375px;
   width: 375px;
  margin: 0;
}
.main, .main-2, .main-3{
    background:rgba(255, 255, 255, 1);
    height: 300px;
    width: 375px;
    margin: 0;
}
#heart-icon, #heart2-icon, #heart3-icon{
    height: 22px;
    width: 23px;   
    margin-right: 20px;
}
#comment-icon, #comment2-icon, #comment3-icon{
    height: 20px;
   width: 20px;
   margin-right: 20px;
}
#dm-icon, #dm2-icon, #dm3-icon{
    height: 20px;
width: 20x;
}
.container-two, .container-three{
    margin-top: 200px;
}
/* section{
    display: flex;
    flex-direction: row;
    margin: 0 auto; 
} */
.my-profile{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}
h2{
   margin-top: -2px;
    margin-left: 2px;
}
#country{
    font-size: 12px; 
    margin-left: -140px;
    margin-top: 6px;
}
