body{
    font-family: 'Source Sans Pro', sans-serif;
}

.logo{
    width: 127px;
}
.my-avartar{
    height: 60px;
width: 60px;
border-radius: 50%;

}
header{
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid rgba(198, 198, 198, 1);
}
#avartar{
    width: 200px;
    object-fit: contain;
}
#avartar-two{
 height: 34px;
 width: 34px;
 border-radius: 50%;
}
#section{
    font-size: 13px;
    margin: 0;
}
#country{
    font-size: 12px;
    margin: 0;
    margin-top: -10px;
  

}
#post-one{
    height: 375px;
   width: 375px;
}